<svelte:head>
  <title>WakilRakyat</title>
	<meta property="og:url" content="https://www.wakilrakyat.my" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Wakil Rakyat" />
	<meta property="og:description" content="Kenali wakil rakyat anda!" />
	<meta property="og:image" content="https://www.wakilrakyat.my/wr.png" />
	<meta property="fb:app_id" content="1879403595738267" />
</svelte:head>

<script lang="ts">
	import type { PageData, ActionData } from './$types'
	import Header from '$lib/components/header.svelte'
	import Footer from '$lib/components/footer.svelte'
	export let data: PageData
	export let form: ActionData;

	let parlimens = data.parlimens
	let size = 18
	
</script>

<Header/>

<div class="bg-neutral-100 mx-auto max-w-7xl">
  <!-- <div class="p-2 ">
		<a href="/pru15">
			<img class="w-auto hover:blur-sm"src="/PRU15.png" alt="PRU 15"/>
		</a>
	</div> -->
	
	<div class="p-4">
		<form method="POST" action="?/search">
			<label for="search" class="sr-only">Search</label>
			<div class="mt-1 flex rounded-md shadow-sm">
				<div class="relative flex flex-grow items-stretch focus-within:z-10">
					<div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
						<svg class="h-5 w-5 fill-neutral-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
							<path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z"/>
						</svg>					
					</div>
					<input type="text" name="search" id="search" class="block w-full rounded-l-md border-gray-300 pl-10 focus:border-blue-500 focus:ring-blue-500 sm:text-sm placeholder:text-neutral-300" placeholder="Perlis, P001, Padang Besar">
				</div>
				<button type="submit" class="relative -ml-px inline-flex items-center space-x-2 rounded-r-md border border-gray-300 bg-rose-500 px-8 py-2 text-sm font-bold text-neutral-100 hover:bg-blue-600 focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500">
					<span>Cari</span>
				</button>
			</div>
		</form>
	</div>
	
	<ul role="main" class="p-4 grid grid-cols-1 gap-6 sm:grid-cols-2 lg:grid-cols-3">
		{#each parlimens.slice(0, size) as parlimen}
			<li class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white shadow">
				<div class="bg-blue-600 p-2 text-center text-xs rounded-t-lg font-bold text-neutral-50">
					{parlimen.state}
				</div>
				<div class="bg-rose-500 p-2 text-center text-xs font-bold text-neutral-50">
					{parlimen.code} - {parlimen.name}
				</div>
				<div class="flex flex-1 flex-col p-8">

					<svg class="mx-auto h-32 w-32 fill-yellow-400 flex-shrink-0 rounded-full" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><!--! Font Awesome Pro 6.2.0 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license (Commercial License) Copyright 2022 Fonticons, Inc. --><path d="M224 0c70.7 0 128 57.3 128 128s-57.3 128-128 128s-128-57.3-128-128S153.3 0 224 0zM209.1 359.2l-18.6-31c-6.4-10.7 1.3-24.2 13.7-24.2H224h19.7c12.4 0 20.1 13.6 13.7 24.2l-18.6 31 33.4 123.9 39.5-161.2c77.2 12 136.3 78.8 136.3 159.4c0 17-13.8 30.7-30.7 30.7H265.1 182.9 30.7C13.8 512 0 498.2 0 481.3c0-80.6 59.1-147.4 136.3-159.4l39.5 161.2 33.4-123.9z"/></svg>
					<!-- <h3 class="mt-6 text-sm font-medium text-gray-900">{parlimen.mp}</h3>
					<p class="mt-6 text-xs uppercase text-gray-900">{parlimen.party}</p> -->
					<div class="flex space-x-4 py-4">
						<div class="flex-shrink-0">
							<img class="w-12  rounded-sm" src={'/'+parlimen.component+'.svg'} alt="">
						</div>
						<div class="min-w-0 flex-1">
							<p class="truncate text-sm font-medium text-neutral-900">{parlimen.mp}</p>
							<p class="truncate text-xs text-neutral-800 uppercase">{parlimen.party}</p>
						</div>
					</div>
				</div>
				<div>
					<div class="-mt-px flex divide-x divide-gray-200">
						<div class="flex w-0 flex-1 bg-blue-600 rounded-bl-lg">
							<a href="mailto:janecooper@example.com" class="relative -mr-px inline-flex w-0 flex-1 items-center justify-center rounded-bl-lg border border-transparent py-4 text-sm font-medium text-gray-700 hover:text-gray-500">
								<svg class="h-6 w-6 fill-yellow-400"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
									<path d="M313.4 32.9c26 5.2 42.9 30.5 37.7 56.5l-2.3 11.4c-5.3 26.7-15.1 52.1-28.8 75.2H464c26.5 0 48 21.5 48 48c0 25.3-19.5 46-44.3 47.9c7.7 8.5 12.3 19.8 12.3 32.1c0 23.4-16.8 42.9-38.9 47.1c4.4 7.2 6.9 15.8 6.9 24.9c0 21.3-13.9 39.4-33.1 45.6c.7 3.3 1.1 6.8 1.1 10.4c0 26.5-21.5 48-48 48H294.5c-19 0-37.5-5.6-53.3-16.1l-38.5-25.7C176 420.4 160 390.4 160 358.3V320 272 247.1c0-29.2 13.3-56.7 36-75l7.4-5.9c26.5-21.2 44.6-51 51.2-84.2l2.3-11.4c5.2-26 30.5-42.9 56.5-37.7zM32 192H96c17.7 0 32 14.3 32 32V448c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32V224c0-17.7 14.3-32 32-32z"/>
								</svg>
							</a>
						</div>
						<div class="-ml-px flex w-0 flex-1 bg-rose-500 rounded-br-lg">
							<a href="tel:+1-202-555-0170" class="relative inline-flex w-0 flex-1 items-center justify-center rounded-br-lg border border-transparent py-4 text-sm font-medium text-gray-700 hover:text-gray-500">
								<svg class="h-6 w-6 fill-neutral-400"xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
									<path
									d="m 198.6,479.1 c -26,-5.2 -42.9,-30.5 -37.7,-56.5 l 2.3,-11.4 C 168.5,384.5 178.3,359.1 192,336 H 48 C 21.5,336 0,314.5 0,288 0,262.7 19.5,242 44.3,240.1 36.6,231.6 32,220.3 32,208 32,184.6 48.8,165.1 70.9,160.9 66.5,153.6 64,145.1 64,136 64,114.7 77.9,96.6 97.1,90.4 96.4,87.1 96,83.6 96,80 96,53.5 117.5,32 144,32 h 73.5 c 19,0 37.5,5.6 53.3,16.1 l 38.5,25.7 C 336,91.6 352,121.6 352,153.7 v 38.3 48 24.9 c 0,29.2 -13.3,56.7 -36,75 l -7.4,5.9 C 282.1,367 264,396.8 257.4,430 l -2.3,11.4 c -5.2,26 -30.5,42.9 -56.5,37.7 z M 480,320 h -64 c -17.7,0 -32,-14.3 -32,-32 V 64 c 0,-17.7 14.3,-32 32,-32 h 64 c 17.7,0 32,14.3 32,32 v 224 c 0,17.7 -14.3,32 -32,32 z" />								
								</svg>
							</a>
						</div>
					</div>
				</div>
			</li>
		{/each}
	</ul>
	{#if size < parlimens.length}
		<div class="p-4 flex justify-center">
			<button on:click={() => size = size + 18} class="rounded-md bg-blue-500 text-neutral-100 hover:bg-blue-700 py-2 px-4">Tambah lagi</button>
		</div>
	{/if}
	
</div>

<div class="mx-auto max-w-7xl pt-8">
	<div class="relative bg-neutral-100 shadow-xl">
		<h2 class="sr-only">Contact us</h2>

		<div class="grid grid-cols-1 lg:grid-cols-3">
			<!-- Contact information -->
			<div class="relative overflow-hidden bg-rose-500 py-8 px-6">
				<div class="pointer-events-none absolute inset-0 sm:hidden" aria-hidden="true">
					<svg class="absolute inset-0 h-full w-full" width="343" height="388" viewBox="0 0 343 388" fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
						<path d="M-99 461.107L608.107-246l707.103 707.107-707.103 707.103L-99 461.107z" fill="url(#linear1)" fill-opacity=".1" />
						<defs>
							<linearGradient id="linear1" x1="254.553" y1="107.554" x2="961.66" y2="814.66" gradientUnits="userSpaceOnUse">
								<stop stop-color="#fff"></stop>
								<stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
							</linearGradient>
						</defs>
					</svg>
				</div>
				<div class="pointer-events-none absolute top-0 right-0 bottom-0 hidden w-1/2 sm:block lg:hidden" aria-hidden="true">
					<svg class="absolute inset-0 h-full w-full" width="359" height="339" viewBox="0 0 359 339" fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
						<path d="M-161 382.107L546.107-325l707.103 707.107-707.103 707.103L-161 382.107z" fill="url(#linear2)" fill-opacity=".1" />
						<defs>
							<linearGradient id="linear2" x1="192.553" y1="28.553" x2="899.66" y2="735.66" gradientUnits="userSpaceOnUse">
								<stop stop-color="#fff"></stop>
								<stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
							</linearGradient>
						</defs>
					</svg>
				</div>
				<div class="pointer-events-none absolute top-0 right-0 bottom-0 hidden w-1/2 lg:block" aria-hidden="true">
					<svg class="absolute inset-0 h-full w-full" width="160" height="678" viewBox="0 0 160 678" fill="none" preserveAspectRatio="xMidYMid slice" xmlns="http://www.w3.org/2000/svg">
						<path d="M-161 679.107L546.107-28l707.103 707.107-707.103 707.103L-161 679.107z" fill="url(#linear3)" fill-opacity=".1" />
						<defs>
							<linearGradient id="linear3" x1="192.553" y1="325.553" x2="899.66" y2="1032.66" gradientUnits="userSpaceOnUse">
								<stop stop-color="#fff"></stop>
								<stop offset="1" stop-color="#fff" stop-opacity="0"></stop>
							</linearGradient>
						</defs>
					</svg>
				</div>
				<h3 class="text-lg font-medium text-neutral-100">Hubungi kami</h3>
				<!-- <p class="mt-6 max-w-3xl text-base text-indigo-50">Nullam risus blandit ac aliquam justo ipsum. Quam mauris volutpat massa dictumst amet. Sapien tortor lacus arcu.</p> -->
				<dl class="mt-8 space-y-6">
					<!-- <dt><span class="sr-only">Phone number</span></dt>
					<dd class="flex text-base text-indigo-50">
						<svg class="h-6 w-6 flex-shrink-0 text-indigo-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
							<path stroke-linecap="round" stroke-linejoin="round" d="M2.25 6.75c0 8.284 6.716 15 15 15h2.25a2.25 2.25 0 002.25-2.25v-1.372c0-.516-.351-.966-.852-1.091l-4.423-1.106c-.44-.11-.902.055-1.173.417l-.97 1.293c-.282.376-.769.542-1.21.38a12.035 12.035 0 01-7.143-7.143c-.162-.441.004-.928.38-1.21l1.293-.97c.363-.271.527-.734.417-1.173L6.963 3.102a1.125 1.125 0 00-1.091-.852H4.5A2.25 2.25 0 002.25 4.5v2.25z" />
						</svg>
						<span class="ml-3">+1 (555) 123-4567</span>
					</dd> -->
					<dt><span class="sr-only">Email</span></dt>
					<dd class="flex text-base text-neutral-100">
						<!-- Heroicon name: outline/envelope -->
						<svg class="h-6 w-6 flex-shrink-0 text-neutral-200" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
							<path stroke-linecap="round" stroke-linejoin="round" d="M21.75 6.75v10.5a2.25 2.25 0 01-2.25 2.25h-15a2.25 2.25 0 01-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0019.5 4.5h-15a2.25 2.25 0 00-2.25 2.25m19.5 0v.243a2.25 2.25 0 01-1.07 1.916l-7.5 4.615a2.25 2.25 0 01-2.36 0L3.32 8.91a2.25 2.25 0 01-1.07-1.916V6.75" />
						</svg>
						<span class="ml-3">support@wakilrakyat.my</span>
					</dd>
				</dl>
			</div>

			<!-- Contact form -->
			<div class="py-8 px-6 sm:px-10 lg:col-span-2">
				<h3 class="text-lg font-medium text-gray-900">Maklum Balas</h3>
				<form method="POST" action="?/feedback" class="mt-6 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8">
					<div>
						<label for="name" class="block text-sm font-medium text-gray-900">Nama</label>
						<div class="mt-1">
							<input required type="text" name="name" id="name" autocomplete="given-name" class="block w-full rounded-md border-gray-300 px-4 text-gray-900 shadow-sm focus:border-yellow-400 focus:ring-yellow-400">
						</div>
					</div>
					<div>
						<label for="email" class="block text-sm font-medium text-gray-900">Emel</label>
						<div class="mt-1">
							<input required id="email" name="email" type="email" autocomplete="email" class="block w-full rounded-md border-gray-300 px-4 text-gray-900 shadow-sm focus:border-yellow-400 focus:ring-yellow-400">
						</div>
					</div>
					<div class="sm:col-span-2">
						<div class="flex justify-between">
							<label for="message" class="block text-sm font-medium text-gray-900">Maklumbalas</label>
						</div>
						<div class="mt-1">
							<textarea required id="message" name="message" rows="3" class="block w-full rounded-md border-gray-300 px-4 text-gray-900 shadow-sm focus:border-yellow-400 focus:ring-yellow-400" aria-describedby="message-max"></textarea>
						</div>
					</div>
					<div class="sm:col-span-2 sm:flex sm:justify-end">
						<button type="submit" class="mt-2 inline-flex w-full items-center justify-center rounded-md border border-transparent bg-blue-500 px-6 py-2 text-base font-medium text-neutral-100 shadow-sm hover:bg-blue-700 sm:w-auto">Hantar</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

{#if form?.success}
	<div aria-live="assertive" class="pointer-events-none fixed inset-0 flex items-end px-4 py-6 sm:items-start sm:p-6">
		<div class="flex w-full flex-col items-center space-y-4 sm:items-end">
			<div class="pointer-events-auto w-full max-w-sm overflow-hidden rounded-lg bg-white shadow-lg ring-1 ring-black ring-opacity-5">
				<div class="p-4">
					<div class="flex items-start">
						<div class="flex-shrink-0">
							<svg class="h-6 w-6 text-green-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
								<path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75L11.25 15 15 9.75M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
							</svg>
						</div>
						<div class="ml-3 w-0 flex-1 pt-0.5">
							<p class="text-sm font-medium text-gray-900">Maklumbalas diterima!</p>
							<p class="mt-1 text-sm text-gray-500">Terima kasih atas maklumbalas anda.</p>
						</div>
						<div class="ml-4 flex flex-shrink-0">
							<button on:click={() => form.success = !form.success} type="button" class="inline-flex rounded-md bg-white text-gray-400 hover:text-gray-500 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">
								<span class="sr-only">Close</span>
								<!-- Heroicon name: mini/x-mark -->
								<svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
									<path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
								</svg>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

{/if}
<Footer/>