<svelte:head>
  <title>Singkir Data</title>
</svelte:head>

<script lang="ts">

</script>

<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-gradient-to-r from-blue-600 via-rose-500 to-yellow-400 py-8 px-4 shadow sm:rounded-lg sm:px-10">
			<div class="sm:mx-auto sm:w-full sm:max-w-md drop-shadow">
				<a href="/">
					<img class="mx-auto h-16 w-auto" src="/wr.svg" alt="Your Company">
				</a>
				<h2 class="mt-4 text-center text-2xl font-medium tracking-tight text-neutral-100">Masukkan emel anda</h2>
			</div>
      <div class="mt-6">
				<form class="space-y-6" method="POST">
					<div>
						<label for="email" class="block text-sm font-medium text-neutral-100">Emel</label>
						<div class="mt-1">
							<input id="email" name="email" type="email" autocomplete="email" required class="block w-full appearance-none rounded-md border border-gray-300 px-3 py-2 placeholder-gray-400 shadow-sm focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
						</div>
					</div>
					<div>
						<button type="submit" class="flex w-full justify-center rounded-md border border-transparent bg-rose-500 py-2 px-4 text-sm font-medium text-white shadow-sm hover:bg-rose-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2">Singkir Data</button>
					</div>
				</form>

      </div>
    </div>
  </div>
</div>