<svelte:head>
  <title>Log Masuk</title>
	<script src="https://accounts.google.com/gsi/client" async defer></script>
	<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v15.0&appId=1879403595738267&autoLogAppEvents=1" nonce="MH4y7SgI"></script>
</svelte:head>

<script lang="ts">
	import { goto } from '$app/navigation';
	let token = ''
	
	async function facebook_api(response: any){
		const res = await fetch('/facebook?data='+JSON.stringify(response))
    const data = await res.json()
    if (data.success === true) goto('/pru15')
  }

	async function facebook() {
		FB.getLoginStatus(function(response: { status: string; }) {
      if (response.status === 'connected') {
        FB.api('/me?fields=email,name', function(response: { token: any; }) {
          response.token = token
          facebook_api(response)
        });
      } else if (response.status === 'not_authorized') {
        console.log('not authorized')
      } else {
        FB.login(function(response: { authResponse: { accessToken: string; }; }) {
          token = response.authResponse.accessToken
          if (response.authResponse) {
            FB.api('/me?fields=email,name', function(response: { token: string; }) {
              response.token = token
              facebook_api(response)
            });
          } else {
            console.log('User cancelled login or did not fully authorize.');
          }
        }, {scope: 'public_profile,email'});
      }
    })
	}

  globalThis.handleCredentialResponse = async (response: { credential: string; }) => {
    const res = await fetch('/google?jwt='+response.credential)
		const data = await res.json()
    if (data.success === true) goto('/pru15')
  }
</script>

<div id="fb-root"></div>
<div class="flex min-h-full flex-col justify-center py-12 sm:px-6 lg:px-8">
  <div class="mt-8 sm:mx-auto sm:w-full sm:max-w-md">
    <div class="bg-gradient-to-r from-blue-600 via-rose-500 to-yellow-400 py-8 px-4 shadow sm:rounded-lg sm:px-10">
			<div class="sm:mx-auto sm:w-full sm:max-w-md drop-shadow">
				<a href="/">
					<img class="mx-auto h-16 w-auto" src="/wr.svg" alt="Your Company">
				</a>
				
				<h2 class="mt-4 text-center text-2xl font-medium tracking-tight text-neutral-100">Log masuk melalui</h2>
			</div>
      <div class="mt-6">

        <div class="mt-6 grid grid-cols-1 gap-3">
					<div class="p-4 flex justify-center">
						<div id="g_id_onload"
							data-client_id="873415347215-58lqlicf8mfvgv9s633kt7rkvo4vrooh.apps.googleusercontent.com"
							data-callback="handleCredentialResponse">
						</div>
						<div class="g_id_signin"
							data-type="standard"
							data-size="large"
							data-theme="outline"
							data-text="sign_in_with"
							data-shape="rectangular"
							data-logo_alignment="left">
						</div>
					</div>

          <div class="flex justify-center align-middle">
						<button on:click={facebook} class="inline-flex items-center justify-center rounded-md bg-blue-500 py-2 px-2 text-xs font-bold text-neutral-100 shadow-sm">
							<span class="sr-only">Sign in with Facebook</span>
							<svg class="rounded-full pt-1 bg-neutral-100 h-7 w-7 fill-blue-500" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 320 512">
								<path d="M279.14 288l14.22-92.66h-88.91v-60.13c0-25.35 12.42-50.06 52.24-50.06h40.42V6.26S260.43 0 225.36 0c-73.22 0-121.08 44.38-121.08 124.72v70.62H22.89V288h81.39v224h100.17V288z"/>
							</svg>
							<div class="ml-2">Continue with Facebook</div>
						</button>
					</div>
        </div>
      </div>

			<div class="py-8 text-center font-bold text-neutral-100 hover:text-neutral-200">
				<a href="/policy">
					Dasar Privasi
				</a>
			</div>
    </div>
  </div>
</div>