<svelte:head>
  <title>Dasar Privasi</title>
</svelte:head>

<div class="bg-gray-50">
  <div class="mx-auto max-w-7xl divide-y divide-gray-200 py-12 px-4 sm:px-6 lg:py-16 lg:px-8">
    <div>
			<h2 class="py-4 text-3xl font-bold tracking-tight text-gray-900">Dasar Privasi</h2>
			<p>Halaman ini menerangkan dasar privasi yang merangkumi penggunaan dan perlindungan maklumat yang dikemukakan oleh pengunjung</p>
		</div>
    <div class="mt-8">
      <dl class="divide-y divide-gray-200">
        <div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-base font-medium text-gray-900 md:col-span-3">Cookies</dt>
          <dd class="mt-2 md:col-span-7 md:mt-0">
            <p class="text-base text-gray-500">Cookies yang dihasilkan oleh pelayan web hanya akan digunakan untuk mengumpul maklumat bagi mengenal pasti layaran anda yang akan datang. Cookies ini tidak akan merekodkan data secara kekal dan tidak juga disimpan di dalam pemacu keras komputer anda. Ianya akan dipadam sebaik sahaja anda meninggalkan laman web ini.</p>
          </dd>
        </div>

				<div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-base font-medium text-gray-900 md:col-span-3">Maklumat Yang Dikumpul</dt>
          <dd class="mt-2 md:col-span-7 md:mt-0">
            <p class="text-base text-gray-500">Maklumat peribadi yang dikumpul semasa anda melayari Laman Web Wakil Rakyat hanyalah Nama & Emel sahaja.</p>
          </dd>
        </div>

				<div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-base font-medium text-gray-900 md:col-span-3">Perlindungan Data</dt>
          <dd class="mt-2 md:col-span-7 md:mt-0">
            <p class="text-base text-gray-500">Teknologi terkini termasuk penyulitan data adalah digunakan untuk melindungi data yang dikemukakan dan pematuhan kepada piawai keselamatan yang ketat adalah terpakai untuk menghalang capaian yang tidak dibenarkan</p>
          </dd>
        </div>

				<div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-base font-medium text-gray-900 md:col-span-3">Keselamatan Storan</dt>
          <dd class="mt-2 md:col-span-7 md:mt-0">
            <p class="text-base text-gray-500">Semua storan elektronik dan penghantaran data peribadi akan dilindungi dan disimpan dengan menggunakan teknologi keselamatan yang sesuai.</p>
          </dd>
        </div>

				<div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-base font-medium text-gray-900 md:col-span-3">Pertanyaan atau Aduan</dt>
          <dd class="mt-2 md:col-span-7 md:mt-0">
            <p class="text-base text-gray-500">Sekiranya anda mempunyai sebarang pertanyaan atau aduan mengenai dasar privasi atau laman web ini, anda boleh menghubungi kami melalui ruang maklum balas yang disediakan dalam laman web ini atau emel langsung ke support@wakilrakyat.my</p>
          </dd>
        </div>

				<div class="pt-6 pb-8 md:grid md:grid-cols-12 md:gap-8">
          <dt class="text-base font-medium text-gray-900 md:col-span-3">Penyingkiran Data</dt>
          <dd class="mt-2 md:col-span-7 md:mt-0">
            <p class="text-base text-gray-500">Sekiranya anda ingin menyingkir data peribadi pada laman web ini, anda boleh berbuat demikian di 
							<a href="/datauser"> 
								SINI.
							</a>
						</p>
          </dd>
        </div>

      </dl>
    </div>
  </div>
</div>
