<svelte:head>
  <title>PRU 15</title>
	<meta property="og:url" content="https://www.wakilrakyat.my/pru15" />
	<meta property="og:type" content="website" />
	<meta property="og:title" content="Wakil Rakyat - PRU15" />
	<meta property="og:description" content="Pilih wakil rakyat anda!" />
	<meta property="og:image" content="https://www.wakilrakyat.my/wr.png" />
</svelte:head>

<script lang="ts">
	import Header from '$lib/components/header.svelte'
	import { goto} from '$app/navigation'
	export let data
	let candidates = data.candidates
	let candidateLikes = data.candidateLikes
	let user = data.user
	let favourite = data.favourite
	let size = 15
	
	async function vote(id) {
		if (user !== undefined){
			const getLikes = await fetch('/pru15?id='+id)
			location.reload();
		} else {
			goto ('/login')
		}
	}
</script>

<Header/>

<div class="bg-neutral-100 mx-auto max-w-7xl">
	<div class="py-4">
		{#if user}
			{#if favourite[0]}
				<div class="p-4">
					PILIHAN SAYA
				</div>
				<ul role="main" class="p-4 grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3">
					<li class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-yellow-400 shadow">
						<div class="bg-blue-600 p-2 text-xs rounded-t-lg font-bold text-neutral-50 text-center ">
							{favourite[0].code[0].state}
						</div>
						<div class="bg-rose-500 p-2 text-xs font-bold text-neutral-50 text-center ">
							{favourite[0].code[0].code} - {favourite[0].code[0].name}
						</div>
						<ul role="list" class="divide-y divide-gray-200">
								<li class="py-4 px-2">
									<div class="flex items-center space-x-4">
										<div class="flex-shrink-0">
											<img class="w-12  rounded-sm" src={'/'+favourite[0].component+'.svg'} alt="">
										</div>
										<div class="min-w-0 flex-1">
											<p class="truncate text-sm font-medium text-neutral-900">{favourite[0].name}</p>
											<p class="truncate text-xs text-neutral-800 uppercase">{favourite[0].party} - {favourite[0].likes} memilih</p>
										</div>
									</div>
								</li>
							</ul>
					</li>
				</ul>
			{/if}
		{/if}
		<div class="p-4">
			PILIHAN RAMAI
		</div>
		<ul role="main" class="p-4 grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3">
			{#each candidateLikes as like}
				<li class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-yellow-400 shadow">
					<div class="bg-blue-600 p-2 text-xs rounded-t-lg font-bold text-neutral-50 text-center ">
						{like.code[0].state}
					</div>
					<div class="bg-rose-500 p-2 text-xs font-bold text-neutral-50 text-center ">
						{like.code[0].code} - {like.code[0].name}
					</div>
					<ul role="list" class="divide-y divide-gray-200">
							<li class="py-4 px-2">
								<div class="flex items-center space-x-4">
									<div class="flex-shrink-0">
										<img class="w-12  rounded-sm" src={'/'+like.component+'.svg'} alt="">
									</div>
									<div class="min-w-0 flex-1">
										<p class="truncate text-sm font-medium text-neutral-900">{like.name}</p>
										<p class="truncate text-xs text-neutral-800 uppercase">{like.party} - {like.likes} memilih</p>
									</div>
								</div>
							</li>
						</ul>
				</li>
			{/each}
		</ul>
	</div>
	<div class="p-4">
		<form method="POST">
			<label for="search" class="sr-only">Search</label>
			<div class="mt-1 flex rounded-md shadow-sm">
				<div class="relative flex flex-grow items-stretch focus-within:z-10">
					<div class="pointer-events-none absolute inset-y-0 left-0 flex items-center pl-3">
						<svg class="h-5 w-5 fill-neutral-300" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
							<path d="M416 208c0 45.9-14.9 88.3-40 122.7L502.6 457.4c12.5 12.5 12.5 32.8 0 45.3s-32.8 12.5-45.3 0L330.7 376c-34.4 25.2-76.8 40-122.7 40C93.1 416 0 322.9 0 208S93.1 0 208 0S416 93.1 416 208zM208 352c79.5 0 144-64.5 144-144s-64.5-144-144-144S64 128.5 64 208s64.5 144 144 144z"/>
						</svg>					
					</div>
					<input type="text" name="search" id="search" class="block w-full rounded-l-md border-gray-300 pl-10 focus:border-blue-500 focus:ring-blue-500 sm:text-sm placeholder:text-neutral-300" placeholder="Perlis, P001, Padang Besar">
				</div>
				<button type="submit" class="relative -ml-px inline-flex items-center space-x-2 rounded-r-md border border-gray-300 bg-rose-500 px-8 py-2 text-sm font-bold text-neutral-100 hover:bg-blue-600 focus:border-indigo-500 focus:outline-none focus:ring-1 focus:ring-indigo-500">
					<span>Cari</span>
				</button>
			</div>
		</form>
	</div>
	
	<ul role="main" class="p-4 grid grid-cols-1 gap-6 sm:grid-cols-2 md:grid-cols-3">
		{#each candidates.slice(0, size) as candidate}
			<li class="col-span-1 flex flex-col divide-y divide-gray-200 rounded-lg bg-white shadow">
				<div class="bg-blue-600 p-2 text-xs rounded-t-lg font-bold text-neutral-50 text-center ">
					{candidate._id[0].state}
				</div>
				<div class="bg-rose-500 p-2 text-xs font-bold text-neutral-50 text-center ">
					{candidate._id[0].code} - {candidate._id[0].name}
				</div>
				<ul role="list" class="divide-y divide-gray-200">
					{#each candidate.candidate as calon}

						<li class="py-4 px-2">
							<div class="flex items-center space-x-4">
								<div class="flex-shrink-0">
									<img class="w-12  rounded-sm" src={'/'+calon.component+'.svg'} alt="">
								</div>
								<div class="min-w-0 flex-1">
									<p class="truncate text-xs font-medium text-gray-900">{calon.name}</p>
									<p class="truncate text-xs text-gray-500 uppercase">{(calon.party) ? calon.party : ''} - {calon.likes} memilih</p>
								</div>
								{#if user}
									{#if favourite[0]}
										{#if (favourite[0]._id !== calon._id)}
											<div>
												<button type="button"  on:click={() => vote(calon._id)} class="inline-flex items-center border border-gray-300 bg-white px-2 py-1 text-sm font-medium leading-5 text-gray-700 shadow-sm hover:bg-gray-50">
													<svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
														<path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
													</svg>
												</button>
											</div>
										{:else}
											<div>
												<button type="button"  class="inline-flex items-center border border-neutral-500 bg-yellow-400 px-2 py-1 text-sm font-medium leading-5 text-neutral-700 shadow-sm">
													<svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
														<path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
													</svg>
												</button>
											</div>
										{/if}
									{:else}
									<div>
										<button type="button"  on:click={() => vote(calon._id)} class="inline-flex items-center border border-gray-300 bg-white px-2 py-1 text-sm font-medium leading-5 text-gray-700 shadow-sm hover:bg-gray-50">
											<svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
												<path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
											</svg>
										</button>
									</div>
									{/if}
								{:else}
								<div>
									<button type="button"  on:click={() => vote(calon._id)} class="inline-flex items-center border border-gray-300 bg-white px-2 py-1 text-sm font-medium leading-5 text-gray-700 shadow-sm hover:bg-gray-50">
										<svg class="h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
											<path d="M6.28 5.22a.75.75 0 00-1.06 1.06L8.94 10l-3.72 3.72a.75.75 0 101.06 1.06L10 11.06l3.72 3.72a.75.75 0 101.06-1.06L11.06 10l3.72-3.72a.75.75 0 00-1.06-1.06L10 8.94 6.28 5.22z" />
										</svg>
									</button>
								</div>
								{/if}
							</div>
						</li>
					{/each}
					</ul>
			</li>
		{/each}
	</ul>
	{#if size < candidates.length}
		<div class="p-4 flex justify-center">
			<button on:click={() => size = size + 20} class="rounded-md bg-blue-500 text-neutral-100 py-2 px-4">Tambah lagi</button>
		</div>
	{/if}
	
</div>