<script lang="ts">
  import { page } from '$app/stores';
  let user = $page.data.user
</script>

<header class="bg-gradient-to-r from-blue-600 via-rose-500 to-yellow-400">
  <nav class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8" aria-label="Top">
    <div class="flex w-full items-center justify-between p-2 lg:py-4 lg:border-none">
      <div class="flex items-center drop-shadow">
        <a href="/">
          <span class="sr-only">WakilRakyat</span>
          <img class="h-16 w-auto" src="/wr.svg" alt="">
        </a>
        <div class="ml-4 space-x-8">
          <a href="/" class="text-xl lg:text-3xl font-medium text-white hover:text-blue-50">WakilRakyat</a>
        </div>
      </div>

      <!-- {#if !user}
        <div class="ml-10 space-x-4">
          <a href="/login" type="button" class="inline-block rounded-md border border-transparent bg-white py-2 px-1 text-xs font-medium text-blue-600 hover:bg-blue-50">Log Masuk</a>
        </div>
      {:else}
        <div class="flex items-center">
          <div class="hidden ml-10 space-x-4 lg:block font-medium text-neutral-100">
            <p>{user.name}</p>
          </div>
          <div class="ml-4">
            <a href="/logout">
              <svg class="h-8 w-8 fill-neutral-200" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path d="M160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32H96C43 32 0 75 0 128V384c0 53 43 96 96 96h64c17.7 0 32-14.3 32-32s-14.3-32-32-32H96c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32h64zM504.5 273.4c4.8-4.5 7.5-10.8 7.5-17.4s-2.7-12.9-7.5-17.4l-144-136c-7-6.6-17.2-8.4-26-4.6s-14.5 12.5-14.5 22v72H192c-17.7 0-32 14.3-32 32l0 64c0 17.7 14.3 32 32 32H320v72c0 9.6 5.7 18.2 14.5 22s19 2 26-4.6l144-136z"/></svg>
            </a>
          </div>
        </div>
      {/if}
    </div>
    {#if user}
      <div class="flex flex-wrap justify-center space-x-6 py-4 lg:hidden">
        <p class="text-base font-medium text-neutral-100 hover:text-blue-50">{user.name}</p>
      </div>
    {/if} -->
  </nav>
</header>